.cabeçalho
{
    
    border-color: black;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    height: 180px;
    width: auto;
    text-align: left;
    font-family: "Arial","Helvetica";
    color:black;
    font-size: 20px;
}

.versiculo{

    text-align: left;
    font-family: "Arial","Helvetica";
    color:black;
    font-size: 20px;
}

.cabeçalho1{
    position: absolute;
    right:50px;
    top:0%;
    margin:0px;
}
img{
    height: 10em;
    width: 12em;
    float: right;
    margin:10px;
}

.mural1{
    height: auto;
    width: 5em;
    margin-right: 75px;
}
.mural2{
    height: auto;
    width: 75%;
    margin-right: 30px;
}
.inline{
    display: flex;
    position: absolute;
    height: 75%;
    width: 98%;
}

.principal{
    margin-top: 10px;
    background-image: url(fundoprincipal.jpg);
    background-repeat: repeat;
    background-size:50em ;
    text-align: justify;
    font-family: "Arial","Helvetica";
    border-color: black;
    border-style: solid;
    border-width:10px;
    height: auto;
    width: auto;
    border-radius: 15px;
    font-size:19px;
   

    }
     
    .principal1{
        margin: 10px 10px 40px 10px;
         font-size: 20px;
         text-align: center;
     }
     .principal2{
        margin: 15px;
        text-align: justify;
        font-family: "Arial","Helvetica"; 
        font-size:16px;
        color: white;
     }
 
.navegador{
    margin-right:10px;
    margin-top: 10px;
    text-align: Center;
    font-family: "Arial","Helvetica";
    border-color: black;
    border-style: solid;
    border-width:5px;
    height: auto;
    width: 35%;
    border-radius: 10px;
    font-size:20px;
    background-color: #708090;
}

ul{
padding-left: 0;
}

li{
    border-style: solid;
    border-width:5px 0px 5px 0px;
    border-color: rgb(80, 39, 192); 
    height: auto;
    width: auto;
    font-family: "Arial","Helvetica";
    font-size:15px;
}
.Evento{
    background-color: #708090;
    margin-left:10px;
    margin-top: 10px;
    border-style: solid;
    border-width:5px;
    border-color: black;
    height: auto;
    width: 35%;
    border-radius: 10px;
    font-size:50px;
    text-align: Center;
    font-family: "Arial","Helvetica";
    color: white;
}  
 
.mural{
    padding: 0px;
   margin: 0%;
}
.pastora{
    text-align: Center;
    font-family: "Arial","Helvetica";
    margin-top: 5em;
    height: auto;
    width: 25%;
    margin:10px;
    border-style: solid;
    border-width:8px;
    border-color:gray;
    color:gray;
}
.pastor{
    text-align: Center;
    font-family: "Arial","Helvetica";
    margin-top: 5em;
    height: auto;
    width: 25%;
    margin:10px;
    border-style: solid;
    border-width:8px;
    border-color:rgb(39, 39, 94);
    color: rgb(39, 39, 94);
}
.administrativo{
    text-align: Center;
    font-family: "Arial","Helvetica";
    margin-top: 5em;
    height: auto;
    width: 25%;
    margin:10px;
    border-style: solid;
    border-width:8px;
    border-color:rgb(125, 182, 125);
    color:rgb(125, 182, 125);
}

.rodape{
   
    border-color: black;
    border-style: solid;
    border-width:5px 5px 5px 5px;
    margin-top: 40px;
    position: absolute;
    top:100%;
    height: auto;
    width:97%;
    background-color: #708090;
}